
@time-increment:.25;
@iteration-increment: 1;

.animate-duration-1 { //1/4 second
	-webkit-animation-duration: @time-increment*1s;
  	animation-duration: @time-increment*1s;
}
.animate-duration-2 { //1/2 second
	-webkit-animation-duration: @time-increment*2s;
  	animation-duration: @time-increment*2s;
}
.animate-duration-3 { //3/4 second
	-webkit-animation-duration: @time-increment*3s;
  	animation-duration: @time-increment*3s;
}
.animate-duration-4 { //1 second
	-webkit-animation-duration: @time-increment*4s;
  	animation-duration: @time-increment*4s;
}
.animate-duration-5 { //1+1/4 second
	-webkit-animation-duration: @time-increment*5s;
  	animation-duration: @time-increment*5s;
}
.animate-duration-6 { //1+1/2 second
	-webkit-animation-duration: @time-increment*6s;
  	animation-duration: @time-increment*6s;
}
.animate-duration-7 { //1+3/4 second
	-webkit-animation-duration: @time-increment*7s;
  	animation-duration: @time-increment*7s;
}
.animate-duration-8 { //2 seconds
	-webkit-animation-duration: @time-increment*8s;
  	animation-duration: @time-increment*8s;
}
.animate-duration-9 {
	-webkit-animation-duration: @time-increment*9s;
  	animation-duration: @time-increment*9s;
}
.animate-duration-10 { //2+1/2 seconds
	-webkit-animation-duration: @time-increment*10s;
  	animation-duration: @time-increment*10s;
}
.animate-duration-11 {
	-webkit-animation-duration: @time-increment*11s;
  	animation-duration: @time-increment*11s;
}
.animate-duration-12 { //3 seconds
	-webkit-animation-duration: @time-increment*12s;
  	animation-duration: @time-increment*12s;
}
.animate-duration-13 {
	-webkit-animation-duration: @time-increment*13s;
  	animation-duration: @time-increment*13s;
}
.animate-duration-14 { //3+1/2 seconds
	-webkit-animation-duration: @time-increment*14s;
  	animation-duration: @time-increment*14s;
}
.animate-duration-15 { 
	-webkit-animation-duration: @time-increment*15s;
  	animation-duration: @time-increment*15s;
}
.animate-duration-16 { //4 seconds
	-webkit-animation-duration: @time-increment*16s;
  	animation-duration: @time-increment*16s;
}
.animate-duration-17 {
	-webkit-animation-duration: @time-increment*17s;
  	animation-duration: @time-increment*17s;
}
.animate-duration-18 { //4+1/2seconds
	-webkit-animation-duration: @time-increment*18s;
  	animation-duration: @time-increment*18s;
}
.animate-duration-19 { 
	-webkit-animation-duration: @time-increment*19s;
  	animation-duration: @time-increment*19s;
}
.animate-duration-20 { //5seconds
	-webkit-animation-duration: @time-increment*20s;
  	animation-duration: @time-increment*20s;
}





.animate-delay-1 { //1/4 second
	-webkit-animation-delay: @time-increment*1s;
  	animation-delay: @time-increment*1s;
}
.animate-delay-2 { //1/2 second
	-webkit-animation-delay: @time-increment*2s;
  	animation-delay: @time-increment*2s;
}
.animate-delay-3 { //3/4 second
	-webkit-animation-delay: @time-increment*3s;
  	animation-delay: @time-increment*3s;
}
.animate-delay-4 { //1 second
	-webkit-animation-delay: @time-increment*4s;
  	animation-delay: @time-increment*4s;
}
.animate-delay-5 { //1+1/4 second
	-webkit-animation-delay: @time-increment*5s;
  	animation-delay: @time-increment*5s;
}
.animate-delay-6 { //1+1/2 second
	-webkit-animation-delay: @time-increment*6s;
  	animation-delay: @time-increment*6s;
}
.animate-delay-7 { //1+3/4 second
	-webkit-animation-delay: @time-increment*7s;
  	animation-delay: @time-increment*7s;
}
.animate-delay-8 { //2 seconds
	-webkit-animation-delay: @time-increment*8s;
  	animation-delay: @time-increment*8s;
}
.animate-delay-9 {
	-webkit-animation-delay: @time-increment*9s;
  	animation-delay: @time-increment*9s;
}
.animate-delay-10 { //2+1/2 seconds
	-webkit-animation-delay: @time-increment*10s;
  	animation-delay: @time-increment*10s;
}
.animate-delay-11 {
	-webkit-animation-delay: @time-increment*11s;
  	animation-delay: @time-increment*11s;
}
.animate-delay-12 { //3 seconds
	-webkit-animation-delay: @time-increment*12s;
  	animation-delay: @time-increment*12s;
}
.animate-delay-13 {
	-webkit-animation-delay: @time-increment*13s;
  	animation-delay: @time-increment*13s;
}
.animate-delay-14 { //3+1/2 seconds
	-webkit-animation-delay: @time-increment*14s;
  	animation-delay: @time-increment*14s;
}
.animate-delay-15 { 
	-webkit-animation-delay: @time-increment*15s;
  	animation-delay: @time-increment*15s;
}
.animate-delay-16 { //4 seconds
	-webkit-animation-delay: @time-increment*16s;
  	animation-delay: @time-increment*16s;
}
.animate-delay-17 {
	-webkit-animation-delay: @time-increment*17s;
  	animation-delay: @time-increment*17s;
}
.animate-delay-18 { //4+1/2seconds
	-webkit-animation-delay: @time-increment*18s;
  	animation-delay: @time-increment*18s;
}
.animate-delay-19 { 
	-webkit-animation-delay: @time-increment*19s;
  	animation-delay: @time-increment*19s;
}
.animate-delay-20 { //5seconds
	-webkit-animation-delay: @time-increment*20s;
  	animation-delay: @time-increment*20s;
}

.animate-times-1 { //1/4 second
	-webkit-animation-iteration-count: @iteration-increment*1s;
  	animation-iteration-count: @iteration-increment*1s;
}
.animate-times-2 { //1/2 second
	-webkit-animation-iteration-count: @iteration-increment*2s;
  	animation-iteration-count: @iteration-increment*2s;
}
.animate-times-3 { //3/4 second
	-webkit-animation-iteration-count: @iteration-increment*3s;
  	animation-iteration-count: @iteration-increment*3s;
}
.animate-times-4 { //1 second
	-webkit-animation-iteration-count: @iteration-increment*4s;
  	animation-iteration-count: @iteration-increment*4s;
}
.animate-times-5 { //1+1/4 second
	-webkit-animation-iteration-count: @iteration-increment*5s;
  	animation-iteration-count: @iteration-increment*5s;
}
.animate-times-6 { //1+1/2 second
	-webkit-animation-iteration-count: @iteration-increment*6s;
  	animation-iteration-count: @iteration-increment*6s;
}
.animate-times-7 { //1+3/4 second
	-webkit-animation-iteration-count: @iteration-increment*7s;
  	animation-iteration-count: @iteration-increment*7s;
}
.animate-times-8 { //2 seconds
	-webkit-animation-iteration-count: @iteration-increment*8s;
  	animation-iteration-count: @iteration-increment*8s;
}
.animate-times-9 {
	-webkit-animation-iteration-count: @iteration-increment*9s;
  	animation-iteration-count: @iteration-increment*9s;
}
.animate-times-10 { //2+1/2 seconds
	-webkit-animation-iteration-count: @iteration-increment*10s;
  	animation-iteration-count: @iteration-increment*10s;
}
.animate-times-11 {
	-webkit-animation-iteration-count: @iteration-increment*11s;
  	animation-iteration-count: @iteration-increment*11s;
}
.animate-times-12 { //3 seconds
	-webkit-animation-iteration-count: @iteration-increment*12s;
  	animation-iteration-count: @iteration-increment*12s;
}
.animate-times-13 {
	-webkit-animation-iteration-count: @iteration-increment*13s;
  	animation-iteration-count: @iteration-increment*13s;
}
.animate-times-14 { //3+1/2 seconds
	-webkit-animation-iteration-count: @iteration-increment*14s;
  	animation-iteration-count: @iteration-increment*14s;
}
.animate-times-15 { 
	-webkit-animation-iteration-count: @iteration-increment*15s;
  	animation-iteration-count: @iteration-increment*15s;
}
.animate-times-16 { //4 seconds
	-webkit-animation-iteration-count: @iteration-increment*16s;
  	animation-iteration-count: @iteration-increment*16s;
}
.animate-times-17 {
	-webkit-animation-iteration-count: @iteration-increment*17s;
  	animation-iteration-count: @iteration-increment*17s;
}
.animate-times-18 { //4+1/2seconds
	-webkit-animation-iteration-count: @iteration-increment*18s;
  	animation-iteration-count: @iteration-increment*18s;
}
.animate-times-19 { 
	-webkit-animation-iteration-count: @iteration-increment*19s;
  	animation-iteration-count: @iteration-increment*19s;
}
.animate-times-20 { //5seconds
	-webkit-animation-iteration-count: @iteration-increment*20s;
  	animation-iteration-count: @iteration-increment*20s;
}
.animate-times-infinite { //5seconds
	-webkit-animation-iteration-count: infinite;
  	animation-iteration-count: infinite;
}